@font-face {
    font-family: "News Cycle";
    src: url(../files/News_Cycle/NewsCycle-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "News Cycle", "Roboto", sans-serif;
}

.nav-ul {
    height: 100%;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-ul > li {
    display: inline;
    align-content: center;
}

.nav-ul > li > a:link, a:visited {
    color: rgb(88, 88, 88);
    text-decoration: none;
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-ul > li > a:hover {
    color: black;
}

.navbar {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 8vh;
    width: 100%;
    position: fixed;
}

#navtitle {
    font-size: 27px;
    text-align: center;
}

#main {
    float: left;
    width: 50%;
    padding-left: 10px;
}

#menu-links {
    float: right;
    font-size: 10px;
    padding-right: 10px;
}